.stack-copy {
  display: flex;
  width: 100%;
  text-align: center;
}
.box-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.image {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.image:hover {
  transform: scale(1.05);
}
